@import url("../../../styles.scss");
.patient-list {
  .search-button {
    height: fit-content !important;
  }
  li {
    list-style: none !important;
    text-transform: capitalize;
  }
  .button-dashboard {
    padding: 20px;
    width: 150px;
  }
}
