<section class="patient-list mt-5">
    <div class="container">
        <h3 class="text-center">Patient Dashboard</h3>
        <app-search></app-search>
        <div class="row">
            <div class="col-md-4 mt-2" *ngFor="let patient of patientsList" id="list-values">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center ">{{patient.firstName}}{{patient.lastName}}</h5>
                        <ul class="card-text ">
                            <li> <strong>Case</strong> :{{patient.reason}}</li>
                            <li><strong>Assigned To</strong> :{{patient.assignedTo}}</li>
                            <li> <strong>Appointment Date</strong>:{{patient.appointmentDate}}</li>
                        </ul>
                        <div class="button-dashboard">
                            <app-button text="See Details" (onBtnCLick)="getId(patient.id)">
                            </app-button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>