section.patient-details {
  .card {
    border: unset;
    max-width: 1200px;
    .case-history {
      text-align: center;
      ul {
        padding: unset;
        li {
          list-style-type: none;
        }
      }
      h1 {
        color: var(--border);
      }
    }
    .edit-section {
      width: 200px;
      float: right;
    }
  }
}
@media screen and (max-width: 400px) {
  .edit-section {
    padding: 100px;
  }
}
