<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header text-center">Entery Form</div>
            <div class="card-body">
                <form [formGroup]="form" (ngSubmit)="makeEntry()">
                    <div class="form-group">
                        <label for="Code">Please enter the Code</label>
                        <input type="text" class="form-control" formControlName="code">
                        <div *ngIf="form.controls.code.touched 
                        && !form.controls.code.valid" class="alert alert-danger">
                            Code is required
                        </div>
                    </div>

                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>
            <div class="card-footer">Footer</div>
        </div>
    </div>
</body>

</html>