<section class="new-registration">
    <div class="container mt-5">
        <h3 class="text-center">{{title}}</h3>
        <div class="row">
            <div class="col-md-6  offset-md-3">
                <form [formGroup]="form" (ngSubmit)="onBtnCLick()">
                    <div class="form-group">
                        <label>First Name <span class="required">*</span></label>
                        <input type="text" formControlName="firstName" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && field.firstName.errors }"
                            [(ngModel)]="patient.firstName" />
                        <div *ngIf="submitted && field.firstName.errors" class="invalid-feedback">
                            <div *ngIf="field.firstName.errors.required">First Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name </label>
                        <input [(ngModel)]="patient.lastName" type="text" class="form-control"
                            formControlName="lastName">
                    </div>
                    <div class="form-group">
                        <label for="address">Address <span class="required">*</span></label>
                        <input type="text" formControlName="address" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && field.address.errors }"
                            [(ngModel)]="patient.address" />
                        <div *ngIf="submitted && field.address.errors" class="invalid-feedback">
                            <div *ngIf="field.address.errors.required">Address is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="appointmentDate">Appointment Date <span class="required">*</span></label>
                        <input placeholder="Day & time" type="text" formControlName="appointmentDate"
                            class="form-control" [ngClass]="{ 'is-invalid': submitted && field.appointmentDate.errors }"
                            [(ngModel)]="patient.appointmentDate" />
                        <div *ngIf="submitted && field.appointmentDate.errors" class="invalid-feedback">
                            <div *ngIf="field.appointmentDate.errors.required">Appointment Date is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="orders">Select Doctor <span class="required">*</span></label>
                        <select formControlName="assignedTo" id="assign-doctor"
                            [ngClass]="{ 'is-invalid': submitted && field.assignedTo.errors }"
                            [(ngModel)]="patient.assignedTo" (ngModelChange)="onChange($event)"
                            placeholder="select doctor">
                            <option [ngValue]="undefined" hidden selected> please assign doctor </option>
                            <option *ngFor="let dr of doctor; let i = index" [value]="doctor[i].name">
                                {{doctor[i].name}}
                            </option>
                        </select>
                        <div *ngIf="submitted && field.assignedTo.errors" class="invalid-feedback">
                            <div *ngIf="field.assignedTo.errors.required">This field is required</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="address">Reason</label>
                        <input [(ngModel)]="patient.reason" type="text" class="form-control" formControlName="reason">
                    </div>
                    <div class="form-group">
                        <label for="caseDescription">Case Description</label>
                        <input [(ngModel)]="patient.caseDescription" type="text" class="form-control"
                            formControlName="caseDescription">
                    </div>
                    <app-button type="submit" color="#19a5a2" text="Register"></app-button>

                </form>
            </div>
        </div>
    </div>
</section>